.product{
    display: flex;
    border-bottom:1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;

}

.product-details{
    color: blue;
    padding: 10px;
    margin-left: 20px;
}

.product-details h2{
    color: red;
}

.product-details h3, h5{

    color: black;
}

.addButton{
    background-color: goldenrod;
    width: 200px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
.addButton:hover{
    background-color: indigo;
    color: white;
}